/*==========CSS COMMON CODE==========*/
*{
    margin: 0px;
    padding: 0px;
}
h1,h2,h3,p{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration:none;
}
ol,ul{
    list-style-type:none;
}

img{
    vertical-align: middle;
}
/*==========CSS COMMON CODE END===========*/
